@page "/"
<PageTitle>Index</PageTitle>
<link href="Index.razor.css" rel="stylesheet">
<PageTitle>Home</PageTitle>
<body>

    <MudText Class="mt-5 mb-5" Typo="Typo.h2" Align="Align.Center">Corner Store Apps</MudText>
   @*<MudText Class="mb-10" Typo="Typo.h5" Align="Align.Center"></MudText>*@ 
    <div class="cards">
        <MudExpansionPanels MultiExpansion="true">
                <MudExpansionPanel Text="Lorem Ipsum"> </MudExpansionPanel>
        </MudExpansionPanels>
    </div>
</body>


